body {
    background-color: #F0F4F9;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 40, 40);
    overflow: hidden;
    text-decoration: none;
    border-radius: 9px;
    position: sticky;
    top: 0;

}

.link2 {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
    font-weight: bold;
}

.li1 {
    display: inline;
}

.link2:hover {
    background-color: rgb(149, 149, 149);
}

.active {
    background-color: #00a5f1;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
    font-weight: bold;
}

.search-container {
    float: right;
    padding: 11px;
}

.icon1 {
    width: 18px;
}

button{
    width: 35px;
    background-color: #d0d0d095;
}

.icon {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 210px;
    margin-top: 6px;
    transition: transform .2s;
}

.icon:hover {
    transform: scale(1.5);
}

.icon2 {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 6px;
    transition: transform .2s;
}

.icon2:hover {
    transform: scale(1.5);
}

.icon3 {
    
    width: 30px;
    float: right;
    margin-top: 6px;
    transition: transform .2s;
}

.icon3:hover {
    transform: scale(1.5);
}
 
.container {
     display: flex;
     justify-content: center;
}

.paragraf1 {
       flex: 1;
       order: 1;
       width: 500px;
       text-align: right;
}

.picture1 {
    flex: 1;
    order: 2;
    width: 500px;
    margin: 15px;
}

h1 {
    font-family: gabriola;
    font-size: xxx-large;
    text-align: center;
}

.container2 {
    height: 410px;
    display: flex;
    justify-content: center;
}

.item2 {
     background-color: #3527024d;
}

h2 {
    font-family: gabriola;
    font-size: xxx-large;
    text-align: right;
    margin-right: 250px;
} 

.paragraf2 {
    flex: 1;
    order: 2;
    width: 500px;
    text-align: right;
}

.picture2 {
    flex: 1;
    order: 1;
    width: 500px;
    margin: 15px;
}

h3 {
    font-family: gabriola;
    font-size: xxx-large;
    text-align: center;
}

.container3 {
    display: flex;
    justify-content: center;
}


.photos {
    display: flex;
    flex: 1;
    order: 1;
}

.box1 {
    flex: 1;
    order: 1;
}

.box2 {
    flex: 1;
    order: 2;
}

.box3 {
    flex: 1;
    order: 3;
}

.p1 {
    width: 90%;
    border-radius: 10px;
    transition: transform .2s;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.373);
    filter: grayscale(100%);
}

.p1:hover {
    transform: scale(1.5);
    filter: grayscale(0%);
}

.paragraf3 {
    width: 600px;
    text-align: right;
    margin: 10px;
}

.button {
    width: 150px;
    background-color: #00c1f1;
    color: #F0F4F9;
    font-size: 19px;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 2px solid #00a2ff;
    margin-left: 25px;
}

.button:hover {
    background-color: #ffffff; /* Green */
    color: rgb(0, 0, 0);
}

.container4 {
    width: 100%;
    height: 100%;
    background-image: url(./pngkey.com-water-waves-png-1220928.png);
}

.minicontainer {
    display: flex;
    justify-content: end;
    margin: 9px;
}

.sticky {
    position: fixed;
    top: 0;
    margin-top: 25rem;
}